<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Frentes parlamentares</title>
</head>
<body>
<div layout:fragment="conteudo">
<!--    <div th:text="${info.get().dataInicio}"></div>-->

    <h1 class="fs-3 mt-5 mb-3">Frentes parlamentares</h1>

    <section class="principal3">

        <div class="alert alert-light">
            <p>[ Em breve ]</p>
        </div>

    </section>

</div>
</body>
</html>